@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,900");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot?52660508");
  src: url("../font/fontello.eot?52660508#iefix") format("embedded-opentype"), url("../font/fontello.woff2?52660508") format("woff2"), url("../font/fontello.woff?52660508") format("woff"), url("../font/fontello.ttf?52660508") format("truetype"), url("../font/fontello.svg?52660508#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?52660508#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-basket:before {
  content: '\e800'; }

/* '' */
.icon-temperatire:before {
  content: '\e801'; }

/* '' */
.icon-phone-circled:before {
  content: '\e802'; }

/* '' */
.icon-phone-1:before {
  content: '\e803'; }

/* '' */
.icon-help-circled:before {
  content: '\e804'; }

/* '' */
.icon-emo-thumbsup:before {
  content: '\e805'; }

/* '' */
.icon-thumbs-up:before {
  content: '\e806'; }

/* '' */
.icon-plane-outline:before {
  content: '\e807'; }

/* '' */
.icon-truck:before {
  content: '\e808'; }

/* '' */
.icon-truck-1:before {
  content: '\e809'; }

/* '' */
.icon-users:before {
  content: '\e80a'; }

/* '' */
.icon-mail:before {
  content: '\e80b'; }

/* '' */
.icon-gift:before {
  content: '\e80c'; }

/* '' */
.icon-gplus:before {
  content: '\f0d5'; }

/* '' */
.icon-female:before {
  content: '\f182'; }

/* '' */
.icon-male:before {
  content: '\f183'; }

/* '' */
.icon-child:before {
  content: '\f1ae'; }

/* '' */
.icon-cc-visa:before {
  content: '\f1f0'; }

/* '' */
.icon-hand-grab-o:before {
  content: '\f255'; }

/* '' */
.icon-hand-paper-o:before {
  content: '\f256'; }

/* '' */
.icon-hand-scissors-o:before {
  content: '\f257'; }

/* '' */
.icon-hand-spock-o:before {
  content: '\f259'; }

/* '' */
.icon-hand-pointer-o:before {
  content: '\f25a'; }

/* '' */
.icon-hand-peace-o:before {
  content: '\f25b'; }

/* '' */
.icon-question-circle-o:before {
  content: '\f29c'; }

/* '' */
.icon-user-o:before {
  content: '\f2c0'; }

/* '' */
html {
  font-family: 'Roboto', sans-serif;
  font-size: 100%; }
  @media screen and (max-width: 1670px) {
    html {
      font-size: 90%; } }
  @media screen and (max-width: 1570px) {
    html {
      font-size: 80%; } }
  @media screen and (max-width: 1420px) {
    html {
      font-size: 70%; } }

a {
  text-decoration: none; }

button {
  border: none; }
  button:focus {
    outline: none; }

header {
  background: url("/img/bgi.jpg") no-repeat;
  background-size: cover;
  height: 64rem; }

.wrap-top-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 7rem;
  background-color: #fff;
  margin-bottom: 8rem; }

.top-menu {
  width: 100%;
  max-width: 1920px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row;
  -ms-flex-flow: row;
  flex-flow: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 5.625rem; }
  .top-menu nav li {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex; }
    .top-menu nav li a {
      color: #3b3646;
      text-transform: uppercase;
      font-size: 1.5em;
      font-weight: 500;
      margin: 0 2.3em 0 0; }

.wrap-phone {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.phone {
  font-size: 1.5em;
  color: #3b3646;
  position: relative;
  font-weight: 500;
  margin-right: 2.3em; }
  .phone i {
    font-size: 2em;
    position: absolute;
    top: -0.3em;
    left: -1.4em; }

.nav-btn {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  font-size: 1.5em;
  text-transform: uppercase;
  color: #fff;
  background-color: #3b3646;
  width: 18.75rem;
  height: 4.25rem;
  border-radius: 1.5em; }
  .nav-btn:active {
    background-color: #fff;
    border: 4px solid #3b3646;
    color: #3b3646; }

.wrap-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  margin: 0 auto;
  max-width: 1920px;
  padding: 0 7.5rem;
  color: #fff; }
  .wrap-header h1 {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 4px;
    font-size: 2.25rem;
    padding-bottom: .6em; }
  .wrap-header p {
    font-size: 1em;
    padding-bottom: 1.25em; }
  .wrap-header ul {
    padding-left: 2em;
    padding-bottom: 2em; }
  .wrap-header h3 {
    font-size: 1.5rem;
    font-weight: 500;
    padding-bottom: 1.5em; }
    .wrap-header h3 a {
      color: #fff;
      text-decoration: underline; }

.line-through {
  text-decoration: line-through; }

.wrap-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  font-size: 1.5em;
  text-transform: uppercase;
  color: #fff;
  width: 18.75rem;
  height: 4.25rem;
  border-radius: 1.5em;
  border: 2px solid #fff;
  margin: 0 auto; }
  .btn:active {
    background-color: #3b3646;
    border: none; }

.wrap-img {
  margin-right: 3.1rem; }
  .wrap-img img {
    width: 51rem;
    height: auto;
    -webkit-transition: all ease 1s;
    -o-transition: all ease 1s;
    transition: all ease 1s; }
