.promo
	background: url("/img/promo-bgi.jpg") no-repeat
	background-size: cover
	height: 57.25rem
	display: flex
	align-items: center
	@media screen and (max-width: 870px)
		height: auto
.wrap-promo
	display: flex
	flex-flow: row nowrap
	justify-content: space-between
	align-items: center
	margin: 0 auto
	width: 100%
	max-width: $max-width
	padding: 7rem 7.5rem
	color: #fff
	@media screen and (max-width: 1230px)
		padding: 0
		width: 95%
	@media screen and (max-width: 870px)
		flex-direction: column-reverse
		justify-content: center
		padding: 0 5% 10% 0
		// position: relative
	h2
		text-transform: uppercase
		font-weight: 900
		letter-spacing: 4px
		font-size: 2.25rem
		padding-bottom: .6em
	h3
		font-size: 1.5rem
		font-weight: 400
		padding-bottom: 1.5em
	.wrap-h
		display: inline-block
		text-align: center
	p 
		font-size: 1em
		padding-bottom: 1.25em
	ul 
		padding-left: 2em
		padding-bottom: 2em
	img
		width: 43.1875rem
		height: auto
		transition: all ease 1s
		@media screen and (max-width: 1230px)
			width: 95%
		@media screen and (max-width: 870px)
			width: 66%
			height: 100%
			margin: 15%
	.btn
		margin: 1rem 0 0 6rem 
.wrap-promo-img
	@media screen and (max-width: 1230px)
		width: 40%
		margin-left: 20px
	@media screen and (max-width: 870px)
		// align-self: flex-start
		display: flex
		justify-content: center
		width: 100%
		margin: 0
		// position: absolute
		// top: 5%
		// left: -1%
