.promo
	background: url("/img/promo-bgi.jpg") no-repeat
	background-size: cover
	height: 57.25rem
.wrap-promo
	display: flex
	flex-flow: row nowrap
	justify-content: space-between
	align-items: center
	margin: 0 auto
	max-width: $max-width
	padding: 7rem 7.5rem
	color: #fff
	h2
		text-transform: uppercase
		font-weight: 900
		letter-spacing: 4px
		font-size: 2.25rem
		padding-bottom: .6em
	h3
		font-size: 1.5rem
		font-weight: 400
		padding-bottom: 1.5em
	.wrap-h
		display: inline-block
		text-align: center
	p 
		font-size: 1em
		padding-bottom: 1.25em
	ul 
		padding-left: 2em
		padding-bottom: 2em
	img
		width: 43.1875rem
		height: auto
		transition: all ease 1s
	.btn
		margin: 1rem 0 0 6rem 