.testim
	background: url("/img/testim-bgi.jpg") no-repeat
	background-size: cover
	height: auto
	display: flex
	align-items: center
	justify-content: center
	// @media screen and (max-width: 870px)
	// 	height: auto
.wrap-testim
	color: #fff
	width: 85%
	max-width: 1000px	
	padding: 5rem 0 3rem 0
	// 	display: flex
	// 	flex-flow: column
	// 	justify-content: center
	// 	align-items: center
.item
	outline: none
	// text-align: center
	img
		border-radius: 50%
		margin: 0 auto
	h3
		text-align: center
		font-size: 1.5rem
		font-weight: 500
		margin: 2rem
	div
		display: flex
		justify-content: center
		margin-bottom: 2rem