@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,900');
// $accent-color: #ff2d2d
$max-width: 1920px

@import "reset"

@import "fontello"

html
	font-family: 'Roboto', sans-serif;
	font-size: 100%
	@media screen and (max-width: 1670px)
		font-size: 90%
	@media screen and (max-width: 1570px)
		font-size: 80%
	@media screen and (max-width: 1420px)
		font-size: 70%
	// @media screen and (max-width: 1230px)
	// 	font-size: 60%

a 	
  text-decoration: none
//   color: #e0e0e0

button 
	border: none
	&:focus
		outline: none

@import "header"

@import "promo"

@import "delivery"

@import "testim"

// $status-colors: (primary: #000, success: #27BA6C, info: #03a9f4, warning: #FF8833, danger: #ff1a1a);

// .message 

//   @each $status, $color in $status-colors 

//     &-#{$status} 

//       background: $color